{% extends 'base.html' %}

{% block sobre %}
<head>
	<title>Sobre</title>
</head>

<div id="conteudo">
    <h1>Sobre</h1>

    <p>Este projeto foi implementado através das instruções contidas na Atividade Contínua 5 com base nos conteúdos ministrados em aula pelo professor Fabio Gorodscy na disciplina de Desenvolvimento Web.</p>

    <div id="curriculos"></div>
        <h3>O projeto foi desenvolvido por:</h3>

        <div id="samuel"><a href="{{ url_for('samuel') }}"><img src="static/img/samuel.png" alt=""></a></div>
        <div id="adalto"><a href="{{ url_for('adalto') }}"><img src="static/img/adalto.png" alt=""></a></div>
        <div id="pedro"><a href="{{ url_for('pedro') }}"><img src="static/img/pedro.png" alt=""></p></div>
    </div>
</div>
{% endblock %}